/* colors to use
#505160 thunder cloud
#68829E waterfall
#AEBD38 moss
#598234 meadow
*/

img {
  max-width: 100%;
  height: auto;
}

article ul {
  list-style-position: inside;
  background: #505160;
  padding: 15px;
}

article ul li {
  background: #aebd38;
  padding: 5px;
  font-size: 1.2em;
}

p {
  font-size: 1.1em;
}

@media (max-width: 300px) {
  p {
    font-size: 0.8em;
  }
}
