/* colors to use
#505160 thunder cloud
#68829E waterfall
#AEBD38 moss
#598234 meadow
*/

:root {
    --thunder-cloud: #505160;
    --waterfall: #68829e;
    --moss: #aebd38;
    --meadow: #598234;
}

body {
    margin: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #f2f6fa;
}

footer div {
    background-color: #aebd38;
}

nav.mainlinks {
    background: var(--thunder-cloud);
    padding: 0.5em 0;
    line-height: 1.5;
    position: sticky;
    top: 0;
}

.maincontent {
    margin: 0 auto;
    display: block;
    max-width: 1200px;
    min-width: 300px;
}

nav.mainlinks ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

nav.mainlinks ul li {
    margin-right: 0.2em;
}

nav.mainlinks li a {
    padding-right: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

nav.mainlinks li a:hover,
nav.mainlinks li a:focus {
    color: var(--meadow);
}

nav.mainlinks li a:active {
    color: var(--waterfall);
}

@media (min-width: 675px) {}